:root {
    --primary-color: #003e00;
    --secondary-color: #f37209;
    --accent1-color: #264653;
    --accent2-color: #e9c46e;
    --heading-front: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

image.card {
    width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}