:root {
    --primary-color: #003e00;
    --secondary-color: #f37209;
    --accent1-color: #264653;
    --accent2-color: #e9c46e;
    --heading-front: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

.grid,
header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
}


section.card img {
    width: auto;
    height: 10%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}