:root {
    --primary-color: #;
    --secondary-color: #;
    --accent1-color: #;
    --accent2-color: #;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero img {
  width: 600px;
  height: auto;
}

#Weather picture img {
  width: 80px;
  height: auto;
}

